{% extends 'base.html.twig' %}

{% block body %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci blanditiis,
        consequatur dolorem eius enim, error hic id illum ipsam maxime modi, molestias nam odio
        odit optio rem tempore vero.</p>
{% endblock %}

{% block title %}
    {{ parent() }} | About Us
{% endblock %}

