<header>
    <a href="{{ path('main_home') }}">
        <div class="flex_div">
            <img src="{{ asset('assets/logo.svg') }}" alt="Bucket-List | Home">
            <h1 class="title">Bucket-List</h1>
        </div>
    </a>
    {% include 'bodyStructure/menu/nav.html.twig' %}
</header>